<div class="mainConatiner">
<h1 mat-dialog-title>Create New Article</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <input matInput placeholder="Title" [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Content" [(ngModel)]="content"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="create()">Create</button>
</div>
</div>
