.article-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.article-card {
  width: calc(33% - 20px);
  margin-bottom: 20px;
}

mat-card {
  background: rgba( 255, 255, 255, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 14px );
-webkit-backdrop-filter: blur( 14px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

mat-card-header {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

mat-card-title {
  font-size: 1.25em;
  font-weight: bold;
  color: #000; /* Change text color to black for better visibility */
}

mat-card-subtitle {
  font-size: 0.9em;
  color: #333; /* Change subtitle color to a darker shade for better visibility */
}

mat-card-content {
  padding: 10px;
  color: #000; /* Change text color to black for better visibility */
}

mat-card-actions {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

button.mat-button {
  color: #3f51b5;
  font-weight: bold;
}
