.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.mat-button {
  font-size: 1em;
  margin-right: 10px;
}

button.mat-button:last-child {
  margin-right: 0;
}
