<mat-toolbar color="primary">
  <span class="logo">Medium</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/" (click)="home()">Home</button>
  <button mat-button routerLink="/login" (click)="login()">Login</button>
  <button mat-button routerLink="/register" (click)="register()">Register</button>
  <button mat-button *ngIf="authService.isAuthenticated()" (click)="profile()">Profile</button>
  <button mat-button *ngIf="authService.isAuthenticated()" (click)="logout()">Logout</button>
</mat-toolbar>
